@import '../utils/utils'

/*Цвета проекта*/

$black: #24282D
$blue: #00a0df
$blue-hover: #0080b2
$grey: #f3f3f3
$white: white

/*Шрифт проекта*/
$font: 'Manrope', sans-serif

/*Базовые стили проекта*/

html
    scroll-behavior: smooth

*
    padding: 0px
    margin: 0px
    box-sizing: border-box
    font-family: $font

body, ul, li, a, button, h1, h2, h3, h4, input, textarea, hr
    padding: 0px
    margin: 0px
    font-family: $font
.footer
    margin: 0px 20px

ul
    list-style: none

h1, h2, h3, h4, h5, span
    color: $blue

a
    text-decoration: none
    color: $blue

.body-block
    overflow: hidden

.main
    display: flex
    flex-direction: column
    gap: 200px
    align-items: center

    @include desktop-small
        gap: 70px

    @include tablet
        gap: 60px

    @include mobile-big
        gap: 50px

    @include mobile
        gap: 50px

h2
    font-size: 100px

    @include desktop-small
        font-size: 70px

.zvezdochka
    position: absolute
    animation-name: el-rotate
    animation-duration: 5s
    animation-iteration-count: infinite

    @include desktop-small
        img
            max-width: 35px

.white-button
    background: $white
    color: $blue
    padding: 2px 5px
    border-radius: 30px
    font-size: 20px
    font-weight: 700
    cursor: pointer
    transition: 0.3s ease
    border: 2px solid white
    max-width: 225px
    display: flex
    justify-content: center

    &:hover
        background: $blue
        color: $white

.blue-button
    background: $blue
    color: $white
    padding: 2px 10px
    border-radius: 30px
    font-size: 20px
    font-weight: 700
    cursor: pointer
    transition: 0.3s ease
    border: 2px solid $blue
    max-width: 225px
    display: flex
    justify-content: center

    &:hover
        background: $white
        color: $blue

.rectangle-wrapper
    padding-top: 10px
    width: 115px

    @include mobile
        padding-top: 0px

    .rectangle
        background: $blue
        height: 7px
        animation-duration: 2s
        animation-name: el-width
        max-width: 115px

    @keyframes el-width
        from
            width: 0px

        to
            width: 115px

.opacity-anim
    opacity: 0

.opacity-anim.opacity-show
    opacity: 1
    transition: opacity 1s

._active
    opacity: 1 !important

._anim-items
    opacity: 0
    transition: opacity 1s
