.main-page
    .page-banner
        min-height: 800px

        @include desktop-small
            min-height: 620px

        @include tablet
            min-height: 670px

        @include mobile-big
            min-height: 545px

        @include mobile
            min-height: 515px
